<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="NLog.log"
      internalLogLevel="Fatal">

  <variable name="logDirectory" value="C:\Logs\Impac.Encompass.Kit.API"/>
  <variable name="application-name" value="Impac.Encompass.Kit.API"/>

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File" name="LOG_FILE" fileName="${logDirectory}\${application-name}.log"
				archiveEvery="Day"	archiveNumbering="Rolling"
				archiveAboveSize = "1000000" maxArchiveFiles = "10">
      <layout xsi:type="CsvLayout" delimiter="Tab">
        <column name="time" layout="${date:format=HH\:mm\:ss.ff}" />
        <column name="thread" layout="${threadid}" />
        <column name="machinename" layout="${machinename}" />
        <column name="level" layout="${level:uppercase=true}" />
        <column name="message" layout="${message}" />
        <column name="exception" layout="${exception:format=tostring}" />
      </layout>
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!-- Trace|Debug|Info|Warn|Error|Fatal -->
    <logger name="*" minlevel="Trace" writeTo="LOG_FILE" />
  </rules>
</nlog>